@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    background-color: #ffffff;
    color: #333333;
}

.page-header {
    color: #000;
}

.page-footer {
    color: #000;
}

.navigation-link {
    color: #000;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-decoration: none;
}

.section-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
    color: #000;
}

.section-description {
    font-size: 22px;
    line-height: 36px;
    text-align: center;
}